
header{
   max-width: 960px;
    margin: 0 auto;
    height: 67px;
   display: block;}
    


nav{
   float: right;
   
    
}

ul{
   list-style-type: none;
}

li{
   float: left;
padding: 5px ;}


body{
   color:#212923 ;
   overflow: auto;
   background-image: url(../images/irongrip.png);
   font-size: 14px;
   line-height: 150%;
   margin: 0;
   padding: 0;
   overflow: auto;
   position: relative;
}

hr {
   border: 1px solid darkgrey;
   max-width: 880px;
}

div{
  display: block;
}


form{
   display: inline-block;
   padding-left: 20%;
   padding-bottom: 10%;
   
}

h1{
   color: #212923;
    padding-top: 30px;
    padding-bottom: 5px;
    padding-left: 40px;
}


img{
   border: #212923 ;
   border: 2px;
   margin-right: 20px;
   padding: 20px 0px 10px 40px;
   float: left;
}

h2{  color: #212923;}


p {
   padding: 10px 40px 20px 40px;
}



footer{  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#4F9E5F;
   color: white;
   text-align: center;
   height: 40px;
   border-top: 8px solid lightgrey;
}


input[type=button], input[type=submit], input[type=reset] {
   background-color: #5D7363;
   border: none;
   color: #212923;
   padding: 16px 32px;
   text-decoration: none;
   margin: 4px 2px;
   cursor: pointer;
 }

 a {
    font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: medium;
   text-decoration: none;
 }

 /* visited link */
 a:visited {
   color:#d2dad4 ;
  
 }
 
 /* mouse over link */
 a:hover {
   color: #0e1610;
 }
 
 /* selected link */
 a:active {
   color: #212923;
 }

#info{
   width: 550px;
}
#message {
   height: 100px;
   width: 550px;
}

#navbar{
   background: #70A17A;
    max-width: 100%;
    margin-bottom: 30px;
    border-bottom: 2px solid lightgrey;
    top: 0px;
}

.nametag h1{
      padding: 23px;
      color: #70A17A;
      background: #212923;
      float: left;
      margin: 0 0 0;
      border-width: 1px;
      border-color: darkgrey;
  }
.main{
   max-width: 960px;
   margin: 0 auto;
   background: #C7D6C8;
   overflow: auto;
}



@media only screen and (max-width: 600px) {
   
   nav{
       float: left;
      
   }
   img{
   width: 75%;

   }
  form{
     padding-left: 8%;
  }

   .nametag h1{
      width: 100%;
      text-align: center;
   }
   .main{
     
      font-weight: bold;
    }
    .smdev{
       text-align: center;
    }
    
    #message {
      height: 100px;
      width: 300px;
   }

   #info{
      width: 300px;
   }

} 

 